<h1>Bookmarks for <%= @list.name %></h1>
<% @bookmarks.each do |bookmark| %>
  <p>
    <%= bookmark.movie.title %> -
    <%= bookmark.comment %> -
    <%= link_to "Delete", bookmark_path(bookmark), method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
